.adminlogin{
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    line-height: 30px;
    /* justify-content: center; */
    align-items: center;
    width:50%;
    margin-left: 300px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 20px;
    /* background-color: pink; */
}
.adminloginbtn{
    margin-left: 10px;
}
.admintitle{
    margin-left: -10px;
    color: white;
}
.admin-login-body{
    background: linear-gradient(#0c0e1d,#2b2c28);
    background-size: cover;
    height: 100vh;
}
.admin-login-label{
    color: white;
}